<!doctype html>
<head>
  <meta charset="utf-8">

  <title>Find and Share Cheap Hotel Rooms - Bunkmates</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="/lib/bootstrap.css">
  <link rel="stylesheet" href="/lib/flat-ui.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <span class="navbar-center">
      <a href="#"><img src="../images/bunkmates_logo.png"></a>
    </span>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<!------------------------------------------- MAIN SEARCH VIEW --------- -->
  <div id="listings" class="slide">
    <div class="container">
      <div id="info">
        Loading bunkmate request info...
      </div>
      <div class="row accept_reject hidden">
        <div class="col-xs-6">
          <button id="accept_request" class="btn btn-primary col-xs-12">Yes, let's bunk!</button>
        </div>
        <div class="col-xs-6">
          <button id="reject_request" class="btn btn-warning col-xs-12">No thanks</button>
        </div>
      </div>
      <div class="row submit_review_container hidden">
        <div class="col-xs-12">
          <button id="submit_review" class="btn btn-primary col-xs-12">Submit review</button>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.16.min.js"></script>
<script type="text/javascript" src="/lib/fastclick.js"></script>
<script type="text/javascript" src="/js/txn.js"></script>
<script type="text/javascript" src="/lib/tmpl.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>

<div id="fb-root"></div>
<script>
 (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
</script>

<script type="text/html" id="txn_info_tmpl">
<span style="text-align: center;">
<p class="lead">
<b><%= txn.attributes.guest_first_name %> wants to bunk with you for $<%= listing.attributes.price %>!</b>
</p>
<p>
<img src="https://graph.facebook.com/<%= txn.attributes.guest_fb_id %>/picture?type=large" class="fb_pic" style="border: 5px solid #ddd"/>
<br><br>
<%= txn.attributes.guest_name %> says
<p>
"<em><%= txn.attributes.guest_desc %></em>"
</p>
</p>
<p>
  <a href="http://facebook.com/<%= txn.attributes.guest_fb_id %>" target="_blank">
  View <%= txn.attributes.guest_first_name %>'s profile</a>
</p>
</span>
</script>

<script type="text/html" id="txn_review_tmpl">
<p class="lead">
Our community thrives on establishing trust.  Please leave a review of your bunkmate stay.
</p>
<p>
Was your bunkmate quiet and respectful?  Would you bunk again?
</p>
<p>
<form>
<label>
<input id="star1" name="stars" type="radio" value="1"/> 1 star (bad roommate)
</label>
<br>
<label>
<input id="star2" name="stars" type="radio" value="2"/> 2 star (unpleasant)
</label>
<br>
<label>
<input id="star3" name="stars" type="radio" value="3" checked/> 3 star (ok)
</label>
<br>
<label>
<input id="star4" name="stars" type="radio" value="4"/> 4 star (good)
</label>
<br>
<label>
<input id="star5" name="stars" type="radio" value="5"/> 5 star (excellent roommate)
</label>
</form>
</p>
<p>
Justify your rating:<br>
<textarea id="review_text" class="form-control"></textarea>
</p>
</script>

<div id="loading" style="position:fixed; top:0; left:0; width: 100%; height: 100%; opacity: .5; background-color: #aaa; z-index: 9999; margin: 0 auto; padding-top: 30%; display:none">
<img src="/images/loading.gif">
</div>

</body>

</html>
