<!doctype html>
<head>
  <meta charset="utf-8">

  <title>Find and Share Cheap Hotel Rooms - Bunkmates</title>
  <meta name="viewport" content="width=device-width">
<!--
  <link rel="stylesheet" href="lib/chui/chui-ios-3.5.2.min.css">
-->
  <link rel="stylesheet" href="http://designmodo.github.io/Flat-UI/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="http://designmodo.github.io/Flat-UI/css/flat-ui.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Bunkmates</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<!------------------------------------------- MAIN SEARCH VIEW --------- -->
  <div id="listings" class="slide">
    <div class="container">
      <div id="info">
        Loading bunkmate request info...
      </div>
      <div class="row accept_reject">
        <div class="col-xs-5">
          <button id="accept_request" class="btn btn-primary">Yes, let's bunk!</button>
        </div>
        <div class="col-xs-5">
          <button id="reject_request" class="btn btn-warning">No thanks</button>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.16.min.js"></script>
<script type="text/javascript" src="/lib/fastclick.js"></script>
<script type="text/javascript" src="/js/txn.js"></script>
<script type="text/javascript" src="/lib/tmpl.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>

<div id="fb-root"></div>
<script>
 (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
</script>

<script type="text/html" id="txn_info_tmpl">
<p class="lead">
<%= txn.attributes.guest_first_name %> wants to bunk with you for $<%= txn.attributes.listing.attributes.price %>!
</p>
<p>
<img src="https://graph.facebook.com/<%= txn.attributes.guest_fb_id %>/picture?type=square"/>
<%= txn.attributes.guest_name %> says
"<em><%= txn.attributes.guest_desc %></em>"
</p>
</script>

</body>

</html>
