<!doctype html>
<head>
  <meta charset="utf-8">

  <title>Find and Share Cheap Hotel Rooms - Bunkmates</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="lib/bootstrap.css">
  <link rel="stylesheet" href="lib/flat-ui.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Bunk|Mates</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-inverse navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li id="please_review" class="hidden"><a href="#reviews">Please Review</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!------------------------------------------- MAIN LISTING / SEARCH VIEW --------- -->
  <div id="listings" class="slide">
    <div class="container">
      <p class="lead centered" style="font-size:18px"><b>
        Share a Room, Save Money
      </b></p>
      <div class="row">
          <!-- <div class="col-xs-2">
             <button id="login" class="btn btn-primary">Sign In</button>
          </div> -->
          <div class="col-xs-6">
            <button id="create_new_listing" class="btn btn-primary">List a Bed</button>
          </div>
          <div class="col-xs-6">
            <div class="form-group" style="clear:left;">
              <input id="places_auto" class="input form-control" />
            </div>
          </div>
      </div>
      <div id="list_of_listings">

      </div>
    </div>
  </div>
<!------------------------------------------- ADD LISTING --------- -->
  <div id="add_listing" class="slide hidden">
    <div class="container col-sm-offset-0  col-sm-12">
      <p class="lead centered" style="font-size:22px; font-weight:600;">
        List a Bed, Make Money!
      </p>
      <p>
        I'm staying at ...
        <input id="hotel_name" type="text" class="input-lg form-control"
               placeholder="hotel name" value="hotel california" />
        <ul id="hotel_dropdown">
        </ul>
      </p>
      <p>
        <p id="selected_room"> </p>
        <ul id="room_types">
        </ul>
      <p>
        I'm charging $ (USD)
        <input id="charge" type="number" class="input-lg form-control" placeholder="40" value="" style="width:6em"/> per night
      </p>
      <p>
        What's your number?
        <input id="phone_number" type="tel" class="input-lg form-control" placeholder="9147727429" value="9147727429" style="width:8em"/>
      </p>
      <p>
        Give us some details about yourself and your room.
        <textarea id="user_desc" class="form-control" rows="3">blah blah blah</textarea>
      </p>
      <button id="submit_listing" class="btn btn-block btn-lg btn-primary">List my room!</button>
    </div>
  </div>
<!------------------------------------------- INDIVIDUAL LISTING --------- -->
  <div id="listing" class="slide hidden">
    <div class="container col-sm-offset-0  col-sm-12">
      <p id="listing_desc">

      </p>
      <button id="submit_request" class="btn btn-block btn-lg btn-primary">Let's Bunk!</button>
    </div>
  </div>
<!------------------------------------------- REVIEW PAGE --------- -->
  <div id="reviews" class="slide hidden">
    <div class="container col-sm-offset-0  col-sm-12">
      <p class="lead">
        Please review your past bunkmates
      </p>
      <div id="list_of_users">

      </div>
    </div>
  </div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.16.min.js"></script>
<script type="text/javascript" src="lib/fastclick.js"></script>
<!--<script src="lib/chui/chui-3.5.2.min.js"></script>-->
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/accounts.js"></script>
<script type="text/javascript" src="js/listings.js"></script>
<script type="text/javascript" src="lib/tmpl.js"></script>
<script>
var script = document.createElement('script');
script.type = 'text/javascript';
script.src = 'http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true&callback=gmaps_initialize';
document.body.appendChild(script);
</script>

<div id="fb-root"></div>
<script>
 (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
</script>

<script type="text/html" id="listing_tmpl">
  <div class="listing">
    <img src="https://graph.facebook.com/<%= listing.attributes.host_fb_id %>/picture" class="fb_pic"/>
    <span style="font-size: 14px; font-style: italic; color: #999;"><%= listing.attributes.host_first_name %> wants to share a room at</span>
    <div style="margin-left: 65px;">
      <div>
        <a href="#listing?<%= listing.id %>" style="text-transform: uppercase;"><%= listing.attributes.hotel %></a></span>
        <br><span style="font-size:12px; font-weight:600;">
        <%= listing.attributes.rating %>-star
        </span>
        <br>
        <span style="font-size: 25px; font-weight: bold; float: right; margin-right: 10px;">$<%= listing.attributes.price %>
      </div>
      <span style="font-size: 12px">
        <%= listing.attributes.address %>
      </span>
      <% if (listing.attributes.room) { %>
      <span style="font-size: 12px">
        <%= listing.attributes.room.RoomTypeName %>
      </span>
      <% } %>
      <p style="font-size:14px; color: #666;">
      "<em><%= listing.attributes.desc %></em>"
      </p>
    </div>
    <div>
    <center>
      <img src="<%= listing.attributes.img %>" class="img-responsive"/>
      </center>
    </div>
  </div>
</script>

<script type="text/html" id="listing_desc_tmpl">
<div id="social">
<div id="mutual_friends" class="hidden">
You and <%= listing.attributes.host_first_name %> have <b><div id="mutual_friend_count"></div></b> friends in common
</div>
</div>

  <!-- <h4>Stay at <%= listing.attributes.hotel %> for cheap!</h4> -->
    <a href="#listing?<%= listing.id %>" style="text-transform: uppercase;"><%= listing.attributes.hotel %></a></span>
        <br>
        <span style="font-size:12px; font-weight:600;">
        <%= listing.attributes.rating %>-star
        </span>
        <span style="font-size: 25px; font-weight: bold; float: right; margin-right: 10px;">$<%= listing.attributes.price %>
      </span>
      </div>
      <p style="font-size: 12px">
        <%= listing.attributes.address %>
      </p>
  <p>
  <img src="<%= listing.attributes.img %>" class="img-responsive" />
  </p>
  <p>
  <img src="https://graph.facebook.com/<%= listing.attributes.host_fb_id %>/picture?type=square" class="fb_pic"/>
  <span style="font-size: 14px; font-style: italic; color: #999;"><%= listing.attributes.host_first_name %> says,</span>
  <p style="font-size:14px; color: #666; margin-left: 70px; margin-top: -20px;">
  "<em><%= listing.attributes.desc %></em>"
  </p>
  <p style="font-size:14px; font-weight:600;">
    Tell <%= listing.attributes.host_first_name %> about yourself:
    <textarea id="guest_desc" class="form-control" rows="4">Bunk with me please!</textarea>
  </p>
  <p style="font-size:14px;">
    We'll contact <%= listing.attributes.host_first_name %> to let <%= listing.attributes.host_gender == 'male' ? 'him' : 'her' %> know you want to share a room.
  </p>
</script>


</body>

</html>
