<!doctype html>
<head>
  <meta charset="utf-8">

  <title>Find and Share Cheap Hotel Rooms - Bunkmates</title>
  <meta name="viewport" content="width=device-width">
<!--
  <link rel="stylesheet" href="lib/chui/chui-ios-3.5.2.min.css">
-->
  <link rel="stylesheet" href="http://designmodo.github.io/Flat-UI/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="http://designmodo.github.io/Flat-UI/css/flat-ui.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Bunkmates</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!------------------------------------------- MAIN LISTING / SEARCH VIEW --------- -->
  <div id="listings" class="slide">
    <div class="container">
      <p>
          <button id="login" class="btn">Log me in ;)</button>
          <button id="create_new_listing" class="btn">Create a new listing</button>
      </p>
      <div id="list_of_listings">

      </div>
    </div>
  </div>
<!------------------------------------------- ADD LISTING --------- -->
  <div id="add_listing" class="slide hidden">
    <div class="container col-sm-offset-0  col-sm-12">
      <h4>Make some money off your hotel room.</h4>
      <p>
        &rarr; I'm looking for someone to split my room costs at...
        <input id="hotel_name" type="text" class="input-lg"
               placeholder="hotel name" value="hotel california" />
        <ul id="hotel_dropdown">
        </ul>
      </p>
      <p>
        &rarr; I'm charging $
        <input id="charge" type="text" type="number" class="input-lg" placeholder="40" value="40" style="width:4em"/>
      </p>
      <p>
        Give us some details about yourself and your room.
        <textarea id="user_desc" class="form-control" rows="3">blah blah blah</textarea>
      </p>
      <button id="submit_listing" class="btn btn-block btn-lg btn-success">List my room!</button>
    </div>
  </div>
<!------------------------------------------- INDIVIDUAL LISTING --------- -->
  <div id="listing" class="slide hidden">
    <div class="container col-sm-offset-0  col-sm-12">
      <p id="listing_desc">

      </p>
      <button id="submit_listing" class="btn btn-block btn-lg btn-success">Send request</button>
    </div>
  </div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.16.min.js"></script>
<script type="text/javascript" src="lib/fastclick.js"></script>
<!--<script src="lib/chui/chui-3.5.2.min.js"></script>-->
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/accounts.js"></script>
<script type="text/javascript" src="js/listings.js"></script>

<div id="fb-root"></div>
<script>
 (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
</script>

<script type="text/html" id="listing_tmpl">
  <div class="listing">
    <%= listing.attributes.first_name %>
    <img src="https://graph.facebook.com/<%= listing.attributes.fb_id %>/picture"/>
    <span style="font-size: 30px; font-weight:bold"><a href="#listing?<%= listing.id %>"><%= listing.attributes.hotel %></a></span> -- <span style="font-size: 25px; font-weight: bold;">$<%= listing.attributes.price %></span>

    <p>
    "<em><%= listing.attributes.desc %></em>"
    </p>

  </div>
</script>

<script type="text/html" id="listing_desc_tmpl">
  <h2><%= listing.attributes.hotel %></h2>
  <img src="https://graph.facebook.com/<%= listing.attributes.fb_id %>/picture?type=normal"/>
  <%= listing.attributes.name %> says, "<em><%= listing.attributes.desc %></em>"
  <p>
    Tell <%= listing.attributes.first_name %> about yourself.
    <textarea id="user_desc" class="form-control" rows="3">long walks on the beach</textarea>
  </p>
  <p>
    We will contact <%= listing.attributes.first_name %> at let <%= listing.attributes.host_gender == 'male' ? 'him' : 'her' %> know you want to share a room.
  </p>
</script>


</body>

</html>
